:root {
    --column-row: 2;
    --color-one: #1144ce;
   
}


html{
    font-family: sans-serif;
}
h1{
    text-align: center;
}
p {
    margin-left: 50px;
    
}
#wrapper {
    width:515px;
    margin-left: 32%
}






/* GRID */

#grid-container {
    display: grid;
    grid-template-columns: repeat(var(--column-row), 1fr);
    grid-template-rows: repeat(var(--column-row), 1fr);
    width: 500px;
    height: 500px;


}

.item {
    border: 1px solid black;
    margin: 0 -1px -1px 0;
}

.hovered {
    background-color: blue;
}

/* SLIDER */

#slider-container {
    width: 500px;

    margin: 5px;

}

.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    margin-left: 50px;
    margin-bottom: 30px;
    width: 400px;
    /* Full-width */
    height: 10px;
    /* Specified height */
    background: #d3d3d3;
    /* Grey background */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 20px;
    /* Set a specific slider handle width */
    height: 30px;
    /* Slider handle height */
    background: #041eaa;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

#color-controls {
    margin-top: 1em;
    width: 500px;

}
#clear{
    float: right;
}

.buttonOneColor{
    background-color: var(--color-one)
    
}



