.rows {
    font-size: 0;


}
#controls-container{
    display: flex;
    justify-content: center;
    margin: 5px;
}

h1 {
  text-align: center;
    
}

button {
    margin-left: 8px;
}

#full{
    display: flex;
    justify-content: center;
    margin-top: em;

    
}

#grid-container {
  


}

.cells64 {
    font-size: 0px;
    border: 1px solid black;
    min-width: 52px;
    min-height: 52px;
    display: inline-block;
    margin: 1px;

}

.cells144 {
    font-size: 0px;
    border: 1px solid gray;
    min-width: 34px;
    min-height: 34px;
    display: inline-block;
    margin: 1px ;
    padding: 0px ;
}

.cells2500 {
    font-size: 0px;
    border: 1px solid black;
    font-size: 0px;
    min-width: 7px;
    min-height: 7px;
    display: inline-block;
    margin: 0px;

}


.hovered {
    background-color: #000000;
}

.red {
    background-color: #fc0000;
}

.green {
    background-color: #2bff05;
}
